#signupForm {
    display: none;
  }

body {
    background-image: url("../assets/LevelUpConfDesktop.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #8AB9E8;
  }

  #loginForm, #signupForm {
    text-align: center;
    /* bottom: 0;
    right: 0; */
  }

  li {
    list-style: none;
  }